body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
}

body {
  line-height: 1.6;
  background-color: #000;
  color: #fff;
  overflow: hidden; 

}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  animation: textflicker 0.2s infinite;

}




.home-section {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
  background: url('AdobeStock_239453726.png') no-repeat center center fixed;
  background-size: cover;
  padding: 20px; 
  
  animation: flicker 0.1s infinite;

}

.home-section h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(74, 35, 92, 0.5);
  margin: 0; 
  color: #00f583;
  text-shadow: 0px 0px 20px rgba(0, 245, 131, 0.459); 
  animation: glitch 0.1s infinite; 
  animation: flicker 0.1s infinite;
  animation: textflicker 0.2s infinite;


}

.home-section p {
  font-size: 2rem;
  color: rgb(0, 245, 131);
  margin: 0; 
  text-align: right;
  text-shadow: 0px 0px 20px rgba(0, 245, 131, 0.445); 
  animation: glitch 0.1s infinite; 
  animation: flicker 0.1s infinite;
  animation: textflicker 0.2s infinite;


}

.home-section p1 {
  font-size: 0.9rem;
  color: #f3f5f4;
  text-align: right;
  animation: glitch 0.1s infinite; 
  text-shadow: 0px 0px 20px rgb(255, 255, 255); 
  padding: 15px;
  animation: flicker 0.1s infinite;
  animation: textflicker 0.2s infinite;

  
}


footer {
  position: fixed; 
  width: 100%; 
  bottom: 0; 
  text-align: center;
  padding: 1rem 0;
  background-color: #33333300;
  color: #00f583;
  text-shadow: 0px 0px 20px #00f5836c; 

  font-size: 14px; 
  z-index: 9999; 
  animation: flicker 0.1s infinite;
  animation: glitch 0.1s infinite; 
  animation: textflicker 0.2s infinite;

}


a {
  color: #00f583;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00f583;

}



.button {
  display: block; 
  width: 100%;
  padding: 10px 505px;
  margin: 15px;
  margin-left: -490px;
  background-color: #007bff00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.507);
  position: relative;
  animation: glitch 0.1s infinite; 
  animation: flicker 0.1s infinite;
  animation: distort 0.5s infinite;
  animation: textflicker 0.2s infinite;

  cursor: pointer;


}

.button[data-text] span {
  display: inline-block;
}

.button:hover {
  background-color: #00f583;
  text-shadow: 0px 0px 20px rgb(0, 245, 131);
  color: #000;
}

.button:hover::before,
.button:hover::after {
  content: '[';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: blink 1s infinite; 

}

.button:hover::before {
  left: 50px; 
}

.button:hover::after {
  content: ']';
  right: 70px; 




}
@keyframes blink {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

@keyframes glitch {
  0%, 100% {
    transform: translate(0);
  }
  20%, 40%, 60%, 80% {
    transform: translate(0px, 0px);
  }
  30%, 50%, 70% {
    transform: translate(0.45px, 0.45px);
  }
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.95;
  }
}

@keyframes distort {
  0%, 100% {
    transform: skewX(0);
  }
  20%, 40%, 60%, 80% {
    transform: skewX(1px);
  }
  30%, 50%, 70% {
    transform: skewX(-1deg);
  }
}

.container.turning-off {
  animation: turn-off 1.5s ease 0s 1;
}

@keyframes turn-off {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.black-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  z-index: 997;
  transition: opacity 0.2s ease;
}

.start-text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 400px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Initially hide the text */
  z-index: 1000; /* Make sure it's on top */
  animation: blink 1s infinite; 

}

.white-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* Set the background color to white */
  opacity: 0;
  pointer-events: none;
  z-index: 998; /* Adjust the z-index to be higher than black container */
  transition: opacity 0.2s ease, transform 0.1s ease;
}

/* Add this code to your existing CSS */
.sound-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  
}


@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

